// # Global

.card-img {
    width: 50px;
}

.card-text {
    margin: 3em 0;
    width: 80%;
}

.border-btn-hover {
    border: 5px solid $white-light;
}

// # Card Sedan
.card-sedan {
    @include card ($orange);
}
.btn-sedan {
    @include card-btn($orange);
}
// # Card SUV
.card-suv {
    @include card ($cyan-dark);
}
.btn-suv {
    @include card-btn($cyan-dark)
}

// # Card Lux
.card-lux {
    @include card ($cyan);
}
.btn-lux {
    @include card-btn ($cyan);
}