* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
}

