@media (max-width: 1053px) {
    body {
        margin-top: 20em;
    }

    .card-sedan {
        margin-top: 10em;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 390px) {

    .card-sedan,.card-suv, .card-lux {
        width: 18em !important;
    }
}

@media (max-height: 500px) and (orientation: landscape) { 
    body { 
        margin-top: 30em; 
    } 
}